:root {
    --main-color: #B00B00;
    --text-color: #191616;
    --background-color: #fffcfc;
}
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px;
    padding: 0 10px;
}

.articles img {
    width: 100%;
    aspect-ratio: 1 / 1; /* pour former des carrés */
    object-fit: cover; /* conserver le ratio d'aspect */
}

.articles p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 920px) {

    .articles {
        gap: 4rem;
    }

}

