:root {
    --main-color: #B00B00;
    --text-color: #191616;
    --background-color: #fffcfc;
}

main{
    margin: 2vw;
}

h1 {
    text-align: center;
    color:var(--main-color);
    margin-bottom: 5vw;
}



span{
    font-weight: bolder;
    font-size: x-large;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 1rem; 
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    cursor: pointer;
}


.contact {
    display:grid;      
    grid-template-columns: 1fr;
    grid-template-areas:
        "formulaire" 
        "contactDetails";
}

.formulaire {
    grid-area: formulaire; /* Spécifie la zone pour le formulaire */
}

/* .formulaire, */
.contactDetails{
    display:flex;
    justify-content: center;
    grid-area: contactDetails;
}

.formButton{
    display:flex;
    justify-content: center;
}


@media screen and (min-width: 920px) {

    main {
        margin: 0rem 8rem 0rem 8rem;
    }

    .contactDetails{
        justify-content: left;
        align-items:center;
    }

    .contact {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "contactDetails formulaire";
    }

    input[type="submit"]{
        padding: 1rem 1rem;
        font-size: 16px;
    }

    .formButton{
        display:flex;
        justify-content: flex-start;
    }
    
}