@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,300&display=swap');

:root {
    --main-color: #B00B00;
    --text-color: #191616;
    --background-color: #fffcfc;
}
  

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    display: none;
}

.logo {
    width: 20%; /* logo adaptatif */
}

.burger-menu {
    width: 2rem;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    cursor: pointer;
}

p{
    font-size: 14px;
}


@media screen and (min-width: 920px){
    header {
        margin: 0;
        padding: 0rem 2rem 0rem 2rem;
    }

    .logo {
        width: 16rem;
    }

    .burger-menu {
        display: none;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    nav a:link,
    a:visited{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: var(--text-color);
        text-decoration: none;
    }
    
    nav a:hover{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: white;
        text-decoration: none;
        background-color: var(--main-color);
        padding: 0.5rem;
    }

    main {
        margin: 0rem 8rem 0rem 8rem;
    }
    p{
        font-size: 18px;
    }

    button{
        padding: 1rem 1rem;
        font-size: 16px;
    }

    
    button:hover {
        background-color: var(--background-color); /* On modifie la couleur du fond au passage de la souris */
        border-style: outset;
        /* border-color: #B00B00; */
        color: var(--main-color);
        }
}