:root {
    --main-color: #B00B00;
    --text-color: #191616;
    --background-color: #fffcfc;
}
.expo-img {
    width: 100%;
    aspect-ratio: 16 / 5;
    object-fit: cover; /* Ajustez selon vos préférences pour conserver le ratio d'aspect */
}

.expo p {
    margin: 0 1rem 0 1rem;
}

main{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

span{
    font-weight: bold;
}

#homeLink{
    color: var(--background-color);
}

@media screen and (min-width: 920px){
    main{
        gap: 6rem;
    }
    .expo p {
        margin: 0;
    }
}