:root {
    --main-color: #B00B00;
    --text-color: #191616;
    --background-color: #fffcfc;
}
/* .article{
    display: flex;
    flex-direction: column;
} */

.article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 920px) {

    /* .article{
        display: flex;
        flex-direction: row;
    } */

    /* .article img{
        
    } */

}